body
{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#FAF0E4;
    color: #808080;
}

h1
{
    font-weight: bolder;
    font-size: 50px;
}

h1,h2
{
    color: #9BCDD2;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 10 0;
}

table
{
    margin: 0 5%;
    font-size: 20px;
}

.merge-bg
{
    height: 75px;
    background: linear-gradient(#FFDEDE, #FAF0E4);
}

.merge-bottom-bg
{
    height: 75px;
    background: linear-gradient(#FAF0E4, #FFDEDE);
}

.titles
{
    background-color: #FFDEDE;
    padding-top: 100px;
    padding-bottom: 10px;
}

.info 
{
    width: 60%;
    padding-top: 20px;
    display: inline-block;
    margin-left: 5%;
}

.profilePicImage
{
    height: 500px;
    width: 10%vw;
    border-radius: 50%;
    display: block;
    float: right;
    margin: 5% 5% 5% 1%;
}

.profilePicImage2
{
    display: none;
}

.info-paragraphs
{
    margin: 0 5%;
    font-size: 22px;
    text-align: justify;
}

.bottom-container
{
    position: relative;
    background-color: #FFDEDE;
    padding: 20px 0 20px;
    text-align: center;
}

.copyright 
{
    font-size: 1rem;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    color: #9BCDD2;
}

a 
{
    color:#9BCDD2;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    padding: 10px;
}

a:hover 
{ 
    text-decoration: none; 
    opacity: 0.5;
    color: #9BCDD2;
}

.links 
{
    height: 40px;
}

.hr-text{
    position: relative;
    outline: 0;
    border: 0;
    height: 1.5em;
    font-family: 'Nunito', sans-serif;
}

.hr-text:before{
    content: '';
    position: absolute;
    background: #9BCDD2;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after{
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 2em;
    line-height: 1.5em;
    color: #9BCDD2;
    background-color: #FAF0E4;
}

.aboutMe 
{
    font-size: 35px;
}

.heading
{
    font-size: 30px;
}

.subheading
{
    font-size: 20px;
    margin: 0 5%;
}

.bar-heading
{
    font-size: 30px;
    margin: 0 5%;
}

.subheading-info
{
    padding-top: 20px;
    display: block;
    margin: 0 5%;
}

.subheading-table
{
    margin: auto;
}

.float-clear
{
    clear: both;
}

td 
{
    vertical-align: top;
}

ul
{
    list-style-type: circle;
}

.card-body 
{
    background-color: #FFDEDE;
}

.email-div
{
    margin: 0;
    background-color: #FFDEDE;
    height: 50px;
}

.email 
{
    display: block;
    margin: 0 40%;
    position: relative;
    text-align: center;
    background-color: #FF8551;
    color: #fff;
    border-radius: 10px;
}

#acknowledgments
{
    color:#9BCDD2;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    padding: 10px; 
}

#acknowledgments:hover 
{ 
    text-decoration: none; 
    opacity: 0.5;
    color: #9BCDD2;
    cursor: pointer;
}

#acknowledgments-container
{
    display: none;
    margin: auto;
    width: 50%;
}
/**************************** Carasoul ****************************/
.artImages-carousel
{
    padding-top: 50px;
    width: 50%;
    margin: auto;
}

.resize
{
    width: 250px;
    height: 300px;
}

.carousel-control-prev-icon 
{
    background-color: #9BCDD2;
}
   
.carousel-control-next-icon 
{
    background-color: #9BCDD2;
}

/************************** Music Player **************************/
.music-container
{
    width: 100%;
    height: 100%;
    align-items: center;
}

.music-player
{
    border-radius: 5%;
    background-color: #ffdaca;
    width: 200px;
    padding: 12.5px 17.5px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.8;
    margin: 1.5% 5%;
}

nav
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

nav .circle
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    color: #FF8551;
    box-shadow: 0 2.5px 5px rgba(49, 26, 255, 0.22);
}

.song-img
{
    width: 110px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 5px 30px rgba(49, 26, 255, 0.22);
}

.music-player h1
{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 10px;
}

.music-player p
{
    font-size: 14px;
    color: #333;
}

#progress
{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #FF8551;
    border-radius: 2px;
    cursor: pointer;
    margin: 20px 0;
}

#progress::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 42x solid #FF8551;
    box-shadow: 0 2.5px 2.5px rgba(49, 26, 255, 0.22);
}

.controls
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div
{
    width: 30px;
    height: 30px;
    margin: 10px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FF8551;
    box-shadow: 0 10px 20px rgba(49, 26, 255, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2)
{
    transform: scale(1.5);
    background: #FF8551;
    color: #fff;
}

.hidden-container
{
    width: 100%;
    height: 100%;
    align-items: center;
    display: none;
}

.hidden-player
{
    height: 45px;
    border-radius: 5%;
    background-color: #ffdaca;
    width: 200px;
    padding: 12.5px 17.5px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.9;
    margin: 1.5% 5%;
    opacity: 0.5;
}

.playlist-container
{
    width:100%;
    height:100%;
    align-items: left;
}

.playlist-list
{
    text-align: left;
    position: relative;
    right: 0;
    top: 0;
    opacity: 0.8;
}

#separator
{
    display: none;
}

#show_playlist
{
    display: none;
}

/************************** Media Queries **************************/
@media screen and (max-width: 1164px) and (min-width: 659px) {
    .info 
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    .subheading
    {
        margin-bottom: 20px;
    }

    .subheading-table
    {
        margin: auto;
    }

    .merge-bg
    {
        height: 25px;
        background: linear-gradient(#FFDEDE, #FAF0E4);
    }

    .subheading-info
    {
        padding-top: 20px;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .profilePicImage
    {
        display: none;
    }

    .profilePicImage2
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none; 
        height: 300px;
        width: 300px;
    }  

    .music-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: none;
    }
    
    .hidden-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: block;
    }
}

@media screen and (max-width: 659px) and (min-width: 593px) {
    .info 
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    .subheading
    {
        margin-bottom: 35px;
    }

    .subheading-table
    {
        margin: auto;
    }

    .subheading-info
    {
        padding-top: 20px;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .merge-bg
    {
        height: 25px;
        background: linear-gradient(#FFDEDE, #FAF0E4);
    }

    .profilePicImage
    {
        display: none;
    }
    
    .profilePicImage2
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none; 
        height: 300px;
        width: 300px;
    }   

    .music-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: none;
    }
    
    .hidden-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: block;
    }
}

@media screen and (max-width: 593px) and (min-width: 585px) {
    .info 
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    .subheading-table
    {
        margin: auto;
    }

    .subheading-info
    {
        padding-top: 20px;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .merge-bg
    {
        height: 25px;
        background: linear-gradient(#FFDEDE, #FAF0E4);
    }

    .profilePicImage
    {
        display: none;
    }
    
    .profilePicImage2
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none; 
        height: 300px;
        width: 300px;
    }  

    .subheading
    {
        margin-bottom: 50px;
    }

    .music-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: none;
    }

    .hidden-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: block;
    }
}


@media screen and (max-width: 585px) {
    .info 
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    .merge-bg
    {
        height: 25px;
        background: linear-gradient(#FFDEDE, #FAF0E4);
    }
    
    .profilePicImage
    {
        display: none;
    }
    
    .profilePicImage2
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none; 
        height: 300px;
        width: 300px;
    }

    .heading
    {
        margin-bottom: 70px;
    }

    .subheading
    {
        margin-bottom: 75px;
    }

    .subheading-table
    {
        margin: auto;
    }

    .subheading-info
    {
        padding-top: 20px;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .music-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: none;
    }

    .hidden-container
    {
        width: 100%;
        height: 100%;
        align-items: center;
        display: block;
    }
}