body
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    background-color:#FAF0E4;
}

h1
{
    background-color: #FFDEDE;
    color:#9BCDD2;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h2
{
    background-color: #FFDEDE;
    color:#9BCDD2;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h3
{
    display: inline-block;
    background-color: #FFDEDE;
    font-family: 'Nunito', sans-serif;
    margin: 1%;
}

.ProfileImg
{
    height: 500px;
    width: 10%vw;
    margin: 2.5%;
    border-radius: 50%;
    float: right;
}

.MyLinks
{
    background-color: #9BCDD2;
    color: #FFDEDE;
    padding-left: 25px;
    display: flex;
}

.LinkCollection
{
    margin: 0px;
}

.links
{
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

a
{
    color: black;
}

.Info 
{
    margin-left: 2.5%;
}

.AboutMe
{
    margin-top: 0;
    width: 50%;
}

.SoftwareSkills
{
    width: 50%;
    columns: 2;
}

.BackendSkills
{
    width: 50%;
    columns: 2;
}

.Proficient
{
    width: 25%;
    columns: 2;
    list-style-position: inside;
}

.Familiar
{
    width: 25%;
    columns: 2;
    list-style-position: inside;
}

.workLinks
{
    background-color: #9BCDD2;
}

.card-body 
{
    background-color: #FFDEDE;
}